# PARTE III

Análises precisam ser melhoradas.

Para comparar com os dados missing populados.

In [1]:
# Importação
import numpy as pd
import pandas as pd
import pandas_profiling as pp
import warnings

In [2]:
# Formatando para 2 casas após a vírgula
pd.options.display.float_format= "{:,.2f}".format
# Ignorando warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\df_trabalhando_II.csv", encoding='utf-8', sep=";")
df

,nom_mun_res,sig_uf_res,idade,sexo,est_civil,cor,tip_esc,nom_social,uf_esc,nota_cien_nat,...,renda_men,tem_wc,tem_quartos,tem_geladeira,tem_tv,tem_cel,tem_pc,tem_net,regiao_br,nota_final
0,São Paulo,SP,17.00,M,solteiro,branca,pública,não,SP,543.90,...,classe_D,sim,sim,sim,sim,sim,sim,sim,sudeste,495.04
1,Apucarana,PR,17.00,F,solteiro,branca,privada,não,PR,618.20,...,classe_D,sim,sim,sim,sim,sim,sim,sim,sul,722.58
2,Itaquaquecetuba,SP,17.00,F,solteiro,preta,pública,não,SP,371.80,...,classe_E,sim,sim,sim,não,sim,não,sim,sudeste,498.76
3,Santa Rita,PB,18.00,M,casado,parda,pública,não,PB,373.20,...,classe_E,sim,sim,sim,sim,sim,não,sim,nordeste,422.28
4,Belém,PA,17.00,F,solteiro,preta,pública,não,PA,510.90,...,classe_E,sim,sim,sim,sim,sim,sim,sim,norte,631.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531630,São Paulo,SP,17.00,M,solteiro,branca,pública,não,SP,502.50,...,classe_C,sim,sim,sim,sim,sim,sim,sim,sudeste,609.52
531631,Nova Iguaçu,RJ,18.00,F,solteiro,branca,pública,não,RJ,484.60,...,classe_C,sim,sim,sim,sim,sim,sim,sim,sudeste,567.34
531632,São Paulo,SP,17.00,M,solteiro,parda,pública,não,SP,459.00,...,classe_E,sim,sim,sim,sim,sim,não,sim,sudeste,421.66
531633,São Paulo,SP,17.00,F,solteiro,parda,pública,não,SP,433.70,...,classe_C,sim,sim,sim,sim,sim,não,sim,sudeste,473.16
531634,São Paulo,SP,17.00,F,solteiro,branca,pública,não,SP,370.30,...,classe_E,sim,sim,sim,sim,sim,não,não,sudeste,427.02

In [4]:
# Média da nota final por classe:

# Pessoas de classes mais altas, apresentaram as maiores médias.
# Isso pode evidenciar melhores condições de acesso a n fatores.

In [5]:
df.groupby(["renda_men"])['nota_final'].mean()

renda_men
classe_A   655.21
classe_B   630.76
classe_C   589.77
classe_D   549.47
classe_E   508.70
Name: nota_final, dtype: float64

In [6]:
# Considerando acesso a lazer, saneamento, local adequado para dormir e acesso a geladeira,
# na nota média final do Enem 2019.

# Percebeu-se que quem possui acesso a esses itens, apresenta um desempenho melhor na nota.
# Isso pode ser explicado pelo fato de uma melhor qualidade de vida, além de contribuir 
# para o capital humano.

In [7]:
df.groupby(["tem_wc"])['nota_final'].mean()

tem_wc
não   476.86
sim   549.07
Name: nota_final, dtype: float64

In [8]:
df.groupby(["tem_quartos"])['nota_final'].mean()

tem_quartos
não   488.85
sim   548.88
Name: nota_final, dtype: float64

In [9]:
df.groupby(["tem_geladeira"])['nota_final'].mean()

tem_geladeira
não   487.67
sim   549.25
Name: nota_final, dtype: float64

In [10]:
df.groupby(["tem_tv"])['nota_final'].mean()

tem_tv
não   507.87
sim   549.75
Name: nota_final, dtype: float64

In [11]:
df.groupby(["tem_cel"])['nota_final'].mean()

tem_cel
não   507.65
sim   549.41
Name: nota_final, dtype: float64

In [12]:
df.groupby([ "tem_pc"])['nota_final'].mean()

tem_pc
não   504.19
sim   569.61
Name: nota_final, dtype: float64

In [13]:
df.groupby(["tem_net"])['nota_final'].mean()

tem_net
não   489.16
sim   557.01
Name: nota_final, dtype: float64

In [14]:
df.groupby(["tem_pc", "tem_net"])['nota_final'].mean()

tem_pc  tem_net
não     não       484.29
        sim       514.00
sim     não       518.36
        sim       570.98
Name: nota_final, dtype: float64

In [15]:
df.groupby(["tem_cel", "tem_net"])['nota_final'].mean()

tem_cel  tem_net
não      não       467.54
         sim       537.64
sim      não       490.65
         sim       557.25
Name: nota_final, dtype: float64

In [16]:
# Ocupação dos pais e a nota final

# Comparando a ocupação dos pais, levando em consideração o seu nível educacional,
# é possível verificar que, quanto maior a escolaridade da mãe, maior tende a ser
# o desempenho dos filhos na nota do Enem.
# Isso pode ser explicado pelo fato das mães incentivarem mais os filhos no campo
# educacional.
# Além disso, utilizar a escolaridade da mãe como proxy para a escolaridade dos
# filhos, é uma prática muito utilizada nas pesquisas científicas.

In [17]:
df.groupby(["ocup_pai"])['nota_final'].mean()

ocup_pai
ocup_pai_alt_qual   617.61
ocup_pai_bai_qua    510.53
ocup_pai_med_qual   553.77
Name: nota_final, dtype: float64

In [18]:
df.groupby(["ocup_mae"])['nota_final'].mean()

ocup_mae
ocup_mae_alt_qual   621.89
ocup_mae_bai_qua    518.61
ocup_mae_med_qual   565.08
Name: nota_final, dtype: float64

In [19]:
# Nome social e nota do final

# Uma pessoa que adota o nome social, a chance dela ter sofrido algum tipo de 
# bullying na escola deve ter sido grande.
# Dessa forma, quando a pessoa adota o nome social, a mesma tende a se sentir melhor,
# um sentimento de pertencimento, pois agora ela começa a ser vista como ela desejou ser.
# Psicologicamente, a adoção desse nome social, permite uma espécie de ânimo
# para a pessoa e, por isso, ela tende a fazer uma prova melhor.
# O mesmo ocorre quando desagregamos a nota final por tipo de prova.

In [20]:
df.groupby(["nom_social"])['nota_final'].mean()

nom_social
não   548.63
sim   609.35
Name: nota_final, dtype: float64