# 1 - ANÁLISE POPULANDO OS NaN's

Importando as bibliotecas e selecionando as colunas no dataframe com o import

In [1]:
import pandas as pd
import numpy as np
import warnings
pd.options.display.float_format= "{:,.2f}".format
warnings.filterwarnings("ignore")

In [2]:
cols=['SG_UF_RESIDENCIA','SG_UF_NASCIMENTO','NU_IDADE','TP_SEXO','TP_COR_RACA','TP_ESCOLA','CO_ESCOLA','TP_PRESENCA_CN','TP_PRESENCA_CH',
     'TP_PRESENCA_LC','TP_PRESENCA_MT','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','TP_LINGUA','NU_NOTA_REDACAO','Q006','Q025']
df = pd.read_csv('./microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv', encoding='latin-1', sep=";", usecols=cols)

In [3]:
df

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,SG_UF_NASCIMENTO,TP_ESCOLA,CO_ESCOLA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,NU_NOTA_REDACAO,Q006,Q025
0,SP,36.00,M,3,BA,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,A,B
1,BA,23.00,M,1,BA,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,C,B
2,CE,39.00,F,3,CE,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,1,NaN,B,B
3,TO,25.00,F,1,TO,1,NaN,1,1,1,1,483.80,503.60,537.30,392.00,1,460.00,E,B
4,MG,22.00,F,1,MG,1,NaN,1,1,1,1,513.60,575.50,570.70,677.00,0,860.00,G,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,DF,41.00,F,3,PA,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,C,B
5095266,AM,20.00,M,3,AM,1,NaN,0,1,1,0,NaN,578.90,555.50,NaN,1,500.00,C,B
5095267,RS,21.00,M,0,RS,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,C,B
5095268,RS,22.00,M,0,RS,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,A,B
5095269,RS,21.00,F,0,SC,1,NaN,0,0,0,0,NaN,NaN,NaN,NaN,1,NaN,C,B

In [4]:
df.isna().sum()

SG_UF_RESIDENCIA          0
NU_IDADE                 69
TP_SEXO                   0
TP_COR_RACA               0
SG_UF_NASCIMENTO     145249
TP_ESCOLA                 0
CO_ESCOLA           3947858
TP_PRESENCA_CN            0
TP_PRESENCA_CH            0
TP_PRESENCA_LC            0
TP_PRESENCA_MT            0
NU_NOTA_CN          1384837
NU_NOTA_CH          1172125
NU_NOTA_LC          1172125
NU_NOTA_MT          1384837
TP_LINGUA                 0
NU_NOTA_REDACAO     1172126
Q006                      0
Q025                      0
dtype: int64

As notas NaN são as abstenções e serão mantidos para a análise.

Alterando os nomes das colunas:

In [5]:
df.columns = ["UF_RESIDENCIA", "IDADE", "SEXO", "COR", "UF_NASCIMENTO", "TIPO_ESCOLA", "LINGUA_ESTRANGEIRA", "RENDA_MENSAL_FAMILIAR", "INTERNET", "NOTA"]
df.columns

ValueError: Length mismatch: Expected axis has 19 elements, new values have 10 elements

In [ ]:
df.head(10)

Substituindo os valores originais para facilitar a leitura do DataFrame:

In [ ]:
df.COR.replace({1:"Branco (a)", 2:"Preto (a)", 3: "Pardo (a)",  4: "Amarelo (a)", 5: "Indígena"}, inplace = True)
df.TIPO_ESCOLA.replace({2:"Pública", 3:"Privada", 4: "Exterior"}, inplace = True)
df.LINGUA_ESTRANGEIRA.replace({0:'Inglês', 1:'Espanhol'}, inplace = True)
df.RENDA_MENSAL_FAMILIAR.replace({'A':"classe_E", 'B':"classe_E", 'C':"classe_E", 'D':"classe_E", 'E':"classe_D", 'F':"classe_D", 'G':"classe_D", 'H':"classe_C", 'I':"classe_C", 'J':"classe_C", 'K':"classe_C", 'L':"classe_C", 'M':"classe_C", 'N':"classe_B", 'O':"classe_B", 'P':"classe_B", 'Q':"classe_A"}, inplace = True)
df.INTERNET.replace({'A':'Não', 'B':'Sim'}, inplace = True)

df.head(5)

Acrescentando a coluna "REGIAO_BR"

In [ ]:
df["REGIAO_BR"] = df.UF_RESIDENCIA

In [ ]:
df.head(10)

Repopulando os valores da nova coluna com as regiões correspondentes de cada Estado:

In [ ]:
df.REGIAO_BR.replace({'PR': "Sul", 'SP': "Sudeste", 'PA': "Norte", 'TO': "Norte", 'RS': "Sul", 'AL': "Nordeste", 'BA': "Nordeste", 'AP': "Norte", 'MG': "Sudeste", 'AM': "Norte", 'GO': "Centro-Oeste",
       'MA': "Nordeste", 'RJ': "Sudeste", 'CE': "Nordeste", 'RO': "Norte", 'MT': "Centro-Oeste", 'PE': "Nordeste", 'RN': "Nordeste", 'AC': "Norte", 'ES': "Sudeste", 'PI': "Nordeste", 'SE': "Nordeste",
       'DF': "Centro-Oeste", 'SC': "Sul", 'PB': "Nordeste", 'MS': "Centro-Oeste", 'RR': "Norte"}, inplace = True)
df

**ANÁLISES**

In [ ]:
# Quantidade de pessoas do sexo masculino e feminino que tiveram nota final do Enem 2019

In [ ]:
df.SEXO.value_counts()

In [ ]:
fem = (2930229 / (2930229 + 2013989)) * 100
fem

In [ ]:
masc = (2013989 / (2930229 + 2013989)) * 100
masc

In [ ]:
# Pessoas do sexo feminino são maioria, representando quase 60%;
# Enquanto indivíduos do sexo masculino representam pouco mais de 40%.

In [ ]:
# Média de idade

In [ ]:
df.IDADE.mean()

In [ ]:
# Média de idades das pessoas que fizeram Enem em 2019 é de 22,18 anos.

In [ ]:
# Média de idade por sexo:

In [ ]:
df.groupby(['SEXO']).IDADE.mean()

In [ ]:
# Idades médias muito próximas (meninos 22,20 e meninas 22,06).

In [ ]:
# Média de idade por sexo, cor e tipo de escola:

In [ ]:
df.groupby(['SEXO', "COR", "TIPO_ESCOLA"]).IDADE.mean()

In [ ]:
# Tanto pessoas do sexo feminino, quanto masculino, 
# percebe-se que entre os índigenas e pessoas pretas possuem 
# média de idade maior.
# Isso pode indicar algum tipo de dificuldade de acesso a educação e 
# melhores qualidades de vida por # parte dessas pessoas e, talvez, 
# até algum tipo de discriminação (podendo ser vividas por ele ou por seus ascendentes).

Pretos(as), Pardos(as) e Indígenas com médias levemente superiores comparadas às médias de Brancos(as) e Amarelos(as).

**Análise: Nota final do Enem 2019 por sexo e tipo de escola**

In [ ]:
df.groupby(['SEXO', "TIPO_ESCOLA"])['NOTA'].mean()

In [ ]:
df.groupby(['SEXO', "TIPO_ESCOLA"])['NOTA'].min()

In [ ]:
df.groupby(['SEXO', "TIPO_ESCOLA"])['NOTA'].max()

In [ ]:
df.groupby(['SEXO', "TIPO_ESCOLA"])['NOTA'].std()

In [ ]:
# Em relação a média, percebe-se que as médias dos alunos de escolas privadas
# são maiores quando comparados com alunos de escolas públicas.
# Isso pode indicar problemas na educação.

# Ao olhar a maior nota, mais uma vez, os alunos de escola particular
# apresentaram notas maiores quando comparados com os alunos da escola pública.

In [ ]:
# Nota final do Enem 2019 por sexo, cor e tipo de escola:

In [ ]:
df.groupby(['SEXO', 'COR', "TIPO_ESCOLA"])['NOTA'].mean()

In [ ]:
# Mais uma vez, os indígenas e pessoas da cor preta possuem as menores notas.
# Indivíduos de escolas particulares evidenciam as maiores notas.

In [ ]:
# Média da nota final por classe:

In [ ]:
df.groupby(["RENDA_MENSAL_FAMILIAR"])[["NOTA"]].mean().sort_values(ascending = False, by = "NOTA")

In [ ]:
# Pessoas de classes mais altas, apresentaram as maiores médias.
# Isso pode evidenciar melhores condições de acesso a N fatores.

In [ ]:
# Média da nota final por classe e sexo:

In [ ]:
df.groupby(["RENDA_MENSAL_FAMILIAR", "SEXO"])['NOTA'].mean()

In [ ]:
# Mais uma vez, rendas maiores permitem acesso a educação de melhor qualidade.
# As notas dos meninos e das meninas, para cada faixa de renda, são bem parecidas.

In [ ]:
# Média da nota final comparando candidatos que têm e os que não têm internet em casa:

In [ ]:
df.groupby(["INTERNET"])[["NOTA"]].mean().sort_values(ascending = False, by = "NOTA")

In [ ]:
# Percebe-se que quem possui acesso à internet apresenta um desempenho melhor na nota.
# Isso pode ser explicado pelo fato de melhores condições de estudo.

In [ ]:
# Tipo escola vs Renda mensal familiar vs Nota final:

In [ ]:
df.groupby(["TIPO_ESCOLA", "RENDA_MENSAL_FAMILIAR"])['NOTA'].mean()

In [ ]:
# Quem possui maior renda, tende a apresentar notas maiores,
# especialmente quando estudam em colégios privados.
# Além disso, pessoas que possuem rendas maiores e que estudam 
# em colégios públicos, também possuem um desempenho melhor,
# quando comparados com demais alunos de colégios públicos.
# Um dos motivos que podem explicar esse fato, é que pessoas
# com maiores poderes aquisitivos possuem melhores condições e, tendem
# a possuir famílias mais estruturadas.

In [ ]:
# Nota final na prova por região brasileira

In [ ]:
df.groupby(["REGIAO_BR"])[["NOTA"]].mean().sort_values(ascending = False, by = "NOTA")

In [ ]:
# A região Sudeste apresenta a maior nota final, seguida pela região Sul.
# Isso pode evidenciar disparidades na educação entre as regiões brasileiras.
# Além disso, dependendo da localidade, o acesso a educação
# tende a ser mais difícil, principalmente na região norte,
# que apresentou a menor nota.

In [ ]:
# Nota final na prova por região brasileira e tipo de escola:

In [ ]:
df.groupby(["REGIAO_BR", "TIPO_ESCOLA"])['NOTA'].mean()

In [ ]:
# Quando analisamos as notas por região e tipo de escola, 
# é possível verificar que, novamente, as notas de alunos
# de escola pública tendem a ser menores quando comparados com colégios particulares.
# A nota da região Sudeste segue liderando, seguido
# pelas regiões sul e centro-oeste.

In [ ]:
# Preferência de língua estrangeira por tipo de escola:

In [ ]:
df.groupby(["TIPO_ESCOLA", "LINGUA_ESTRANGEIRA"])[["LINGUA_ESTRANGEIRA"]].count()

In [ ]:
# Podemos observar que nas escolas particulares temos uma preferência pela prova de Inglês,
# enquanto que nas escolas públicas, a preferência é pelo Espanhol.
# Uma hipótese é que o ensino do Inglês nas escolas particulares é contínuo e presente desde cedo,
# enquanto que nas escolas públicas o ensino do Inglês seja falho e a preferência pelo Espanhol
# dá-se pela similaridade com a língua Portuguesa, induzindo os alunos de escolas públicas a optarem
# pelo Espanhol

In [ ]:
# Análise de candidatos por tipo de escola e renda:

In [ ]:
df[["TIPO_ESCOLA", "RENDA_MENSAL_FAMILIAR" ]].value_counts()

In [ ]:
# Candidatos das classes C, D e E são maioria analisando o todo. Entre escolas públicas e privadas,
# notamos que as mesmas classes de escolas públicas são maioria em relação às escolas privadas.

In [ ]:
# Quantidade de alunos em escolas públicas e particulares:

In [ ]:
df[["TIPO_ESCOLA"]].value_counts()

In [ ]:
# Quantidade de alunos em escolas públicas e particulares, separados por sexo:

In [ ]:
df.groupby(['SEXO'])['TIPO_ESCOLA'].value_counts()

In [ ]:
# Como esperado, temos mais pessoas de escolas públicas, tanto do sexo masculino
# quanto do sexo feminino.

In [ ]:
# Análise de estudandes classe A:

In [ ]:
df.groupby(['TIPO_ESCOLA'])['RENDA_MENSAL_FAMILIAR'].value_counts()

In [ ]:
# temos mais indivíduos da classe A em colégios privados
# quanto comparados em escola pública.

**Análise: Qual Estado possui maior quantidade de abstenções?**

In [ ]:
# criando uma cópia do df1 e selecionando apenas as linhas com "Nota" == NaN
df_2 = df.copy()
df_2 = df_2[df_2["NOTA"].isna()]
df_2

In [ ]:
df_2 = df_2[['UF_RESIDENCIA']].value_counts()

In [ ]:
df_3 = df[['UF_RESIDENCIA']].value_counts()

In [ ]:
df_3

In [ ]:
# criando um df4 (auxiliar) para comparar totalidade vs abstenções:
df_4 = pd.concat([df_3, df_2], axis = 1, join = "outer")

In [ ]:
df_4

In [ ]:
# renoamenado as colunas:
df_4.columns = ["TOTAL_CANDIDATOS", "ABSTENCOES"]
df_4

In [ ]:
# calculando as abstenções em percentual:
df_4["PERCENTUAL"] = (df_4.ABSTENCOES / df_4.TOTAL_CANDIDATOS) * 100
df_4

In [ ]:
# ordenando descending:
df_4[["PERCENTUAL"]].sort_values(ascending = False, by = "PERCENTUAL")

In [ ]:
# calculando a média de abstenções:
df_4["PERCENTUAL"].mean()

In [ ]:
# TEMOS UMA MÉDIA GERAL DE 27,72% DE ABSTENÇÕES

**Análise: Qual Estado (residência) possui a maior nota (na média)?**

In [ ]:
df.groupby(["UF_RESIDENCIA"])[["NOTA"]].mean().sort_values(ascending = False, by = "NOTA")

**Análise: Qual Estado (nascimento) possui a maior nota (na média)?**

In [ ]:
df.groupby(["UF_NASCIMENTO"])[["NOTA"]].mean().sort_values(ascending = False, by = "NOTA")

In [ ]:
# podemos perceber que SP lidera nas duas ocasiões, com algumas alterações de posição
# no decorrer da tabela

# 2 - ANÁLISE REMOVENDO OS NaN's

# PARTE I

In [ ]:
# Carregando os dados e viualizando
df = pd.read_csv("D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\MICRODADOS_ENEM_2019.csv", encoding='latin-1', sep=";")
df

In [ ]:
# Tipo
type(df)

In [ ]:
# Dimensões
print(df.ndim)

In [ ]:
print(df.shape)

In [ ]:
print(df.size)

In [ ]:
# ìndice
df.index

In [ ]:
# Tipo de variáveis
df.dtypes

In [ ]:
# Visualização de dados
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
# Análise
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.info()

In [ ]:
# Nome das colunas
df.columns

In [ ]:
# Verificando total de valores NA (missing) por variável
df.isna().sum()

In [ ]:
# Drop de colunas que não interessam
df.drop(["TP_ANO_CONCLUIU", "IN_TREINEIRO", "CO_UF_NASCIMENTO", "SG_UF_NASCIMENTO", "CO_MUNICIPIO_RESIDENCIA", "CO_UF_RESIDENCIA", "CO_ESCOLA", "CO_UF_ESC", "CO_UF_PROVA", 'NU_INSCRICAO', 'NU_ANO', 'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', "IN_SURDEZ", 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', "IN_DEFICIENCIA_AUDITIVA", "IN_SURDO_CEGUEIRA", "IN_DEFICIENCIA_FISICA", "IN_DEFICIENCIA_MENTAL", "IN_DEFICIT_ATENCAO", "IN_DISLEXIA", "IN_DISCALCULIA", "IN_AUTISMO", "IN_VISAO_MONOCULAR", "IN_OUTRA_DEF", "IN_GESTANTE", "IN_LACTANTE", "IN_IDOSO", "IN_ESTUDA_CLASSE_HOSPITALAR", "IN_SEM_RECURSO", "IN_BRAILLE", "IN_AMPLIADA_24", "IN_AMPLIADA_18", "IN_LEDOR", "IN_ACESSO", "IN_TRANSCRICAO", "IN_LIBRAS", "IN_TEMPO_ADICIONAL", "IN_LEITURA_LABIAL", "IN_MESA_CADEIRA_RODAS", "IN_MESA_CADEIRA_SEPARADA", "IN_APOIO_PERNA", "IN_GUIA_INTERPRETE", "IN_COMPUTADOR", "IN_CADEIRA_ESPECIAL", "IN_CADEIRA_CANHOTO", "IN_CADEIRA_ACOLCHOADA", "IN_PROVA_DEITADO", "IN_MOBILIARIO_OBESO", "IN_LAMINA_OVERLAY", "IN_PROTETOR_AURICULAR", "IN_MEDIDOR_GLICOSE", "IN_MAQUINA_BRAILE", "IN_SOROBAN", "IN_MARCA_PASSO", "IN_SONDA", "IN_MEDICAMENTOS", "IN_SALA_INDIVIDUAL", "IN_SALA_ESPECIAL", "IN_SALA_ACOMPANHANTE", "IN_MOBILIARIO_ESPECIFICO", "IN_MATERIAL_ESPECIFICO", "CO_MUNICIPIO_PROVA", "NO_MUNICIPIO_PROVA", "CO_UF_PROVA", "CO_PROVA_CN", "CO_PROVA_CH", "CO_PROVA_LC", "CO_PROVA_MT", "TX_RESPOSTAS_CN", "TX_RESPOSTAS_CH", "TX_RESPOSTAS_LC", "TX_RESPOSTAS_MT", "TX_GABARITO_CN", "TX_GABARITO_CH", "TX_GABARITO_LC", "TX_GABARITO_MT", "NU_NOTA_COMP1", "NU_NOTA_COMP2", "NU_NOTA_COMP3", "NU_NOTA_COMP4", "NU_NOTA_COMP5", "Q007", "Q010", "Q011", "Q013", "Q014", "Q015", "Q016", "Q017", "Q018", "Q020", "Q021", "Q023", "TP_ENSINO", "TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT", "TP_STATUS_REDACAO", "TP_ST_CONCLUSAO"], axis=1, inplace = True)
df
# TP_ANO_CONCLUIU
# IN_TREINEIRO

In [ ]:
df.memory_usage()

In [ ]:
df.info()

In [ ]:
# Renomeando colunas
df.columns = [ "nom_mun_res", "sig_uf_res", "idade", "sexo", "est_civil", "cor", "tip_esc", "nom_social", "uf_esc", "nota_cien_nat", "nota_cien_hum", "nota_ling", "nota_mat", "idioma", "nota_red", "pai_esc", "mae_esc", "ocup_pai", "ocup_mae", "qtde_pes_casa", "renda_men", "tem_wc", "tem_quartos", "tem_geladeira", "tem_tv", "tem_cel", "tem_pc", "tem_net"]
df.columns
# "cor", "ano_concl_em", "tip_esc"
# "tip_esc", "treino", "nom_social"

In [ ]:
df

In [ ]:
df.isna()

In [ ]:
# Verificando total de valores NA (missing) por variável
df.isna().sum()

In [ ]:
# Em idade, temos poucos valores ausentes. 
# Dessa forma, vamos verificar a média e mediana para imputar valores.
# Optou-se pela mediana devido aos "outliers".
# Além de ter poucos NAs.

In [ ]:
df.idade.max()

In [ ]:
df.idade.min()

In [ ]:
df.idade.mean()

In [ ]:
df.idade.median()

In [ ]:
mediana = df.idade.median()
media = df.idade.mean()

In [ ]:
df['idade'].fillna(mediana, inplace = True)
df.isna().sum()

In [ ]:
# Criando as regiões do Brasil
df["regiao_br"] = df.sig_uf_res

In [ ]:
df["regiao_br"].unique()

In [ ]:
df.regiao_br.replace({'PR': "sul", 'SP': "sudeste", 'PA': "norte", 'TO': "norte", 'RS': "sul", 'AL': "nordeste", 'BA': "nordeste", 'AP': "norte", 'MG': "sudeste", 'AM': "norte", 'GO': "centro-oeste",
       'MA': "nordeste", 'RJ': "sudeste", 'CE': "nordeste", 'RO': "norte", 'MT': "centro-oeste", 'PE': "nordeste", 'RN': "nordeste", 'AC': "norte", 'ES': "sudeste", 'PI': "nordeste", 'SE': "nordeste",
       'DF': "centro-oeste", 'SC': "sul", 'PB': "nordeste", 'MS': "centro-oeste", 'RR': "norte"}, inplace = True)

In [ ]:
df["regiao_br"].unique()

In [ ]:
# Criando a nota final do Enem
df["nota_final"] = ((df.nota_red + df.nota_cien_nat + df.nota_cien_hum + df.nota_ling + df.nota_mat) / 5)
df

In [ ]:
df.isna().sum()

In [ ]:
# Verificando número de faltosos/eliminados:
# Total de dados: 5,095,270
# Total de nota_final = nan: 1,393,263
# Em termos %: (1,393,263 / 5,095,270) * 100 = 27.344242797732015 %
faltosos = (1393263 / 5095270) * 100
faltosos

In [ ]:
df.reset_index(inplace = True)
df

In [ ]:
df.drop(['index'], axis = 1, inplace = True)
df

In [ ]:
# Agora, salvando os dados:
# Salvando em csv
# df.to_csv('D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\df_trabalhando_I.csv', sep=';', index=False)

# PARTE II

In [ ]:
# df = pd.read_csv("D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\df_trabalhando_I.csv", encoding='utf-8', sep=";")
# df

In [ ]:
# Removendo linhas que não interessam:
# Estado civil "não informado"
index_names = df[df['est_civil'] == 0 ].index
index_names
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)
df.head(25)

In [ ]:
# Cor "não declarado"
index_names = df[df['cor'] == 0 ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Tipo de escola "não respondeu"
index_names = df[df['tip_esc'] == 0 ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Escolaridade da mãe "não sei"
index_names = df[df['mae_esc'] == "H" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Escolaridade do pai "não sei"
index_names = df[df['pai_esc'] == "H" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Ocupação do pai "não sei"
index_names = df[df['ocup_pai'] == "F" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Ocupação da mãe "não sei"
index_names = df[df['ocup_mae'] == "F" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Problemático - Excluir: muitos NAs
# Ano de conclusão do ensino médio "não informado"
# index_names = df[df['ano_concl_em'] == 0 ].index
# Deletando as linhas com esses índices do DataFrame
# df.drop(index_names , inplace=True)

In [ ]:
# Excluindo a escolaridade incompleta dos pais
index_names = df[df['pai_esc'] == "B" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
index_names = df[df['pai_esc'] == "C" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
index_names = df[df['mae_esc'] == "B" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
index_names = df[df['mae_esc'] == "C" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
index_names = df[df['tip_esc'] == 1 ].index
index_names
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Criando classes pela renda mensal, ocupação e escolaridade (completa) dos pais
df.renda_men.replace({'A':"classe_E", 'B':"classe_E", 'C':"classe_E", 'D':"classe_E", 'E':"classe_D", 'F':"classe_D", 'G':"classe_D", 'H':"classe_C", 'I':"classe_C", 'J':"classe_C", 'K':"classe_C", 'L':"classe_C", 'M':"classe_C", 'N':"classe_B", 'O':"classe_B", 'P':"classe_B", 'Q':"classe_A"}, inplace = True)
df.ocup_mae.replace({'A':"ocup_mae_bai_qua", 'B':"ocup_mae_bai_qua", 'C':"ocup_mae_med_qual", 'D':"ocup_mae_med_qual", 'E':"ocup_mae_alt_qual"}, inplace = True)
df.ocup_pai.replace({'A':"ocup_pai_bai_qua", 'B':"ocup_pai_bai_qua", 'C':"ocup_pai_med_qual", 'D':"ocup_pai_med_qual", 'E':"ocup_pai_alt_qual"}, inplace = True)
df.mae_esc.replace({'A':"mae_analf", 'D':"mae_fund_compl", 'E':"mae_med_compl", 'F':"mae_grad_compl", 'G':"mae_pos_compl"}, inplace = True)
df.pai_esc.replace({'A':"pai_analf", 'D':"pai_fund_compl", 'E':"pai_med_compl", 'F':"pai_grad_compl", 'G':"pai_pos_compl"}, inplace = True)
df

In [ ]:
# Transformando diversas variáveis
df.idioma.replace({0:"ingles", 1:"espanhol" }, inplace = True)
# df.treino.replace({1:"sim", 0:"não" }, inplace = True)
df.cor.replace({1:"branca", 2:"preta", 3: "parda",  4: "amarela", 5: "indígena"}, inplace = True)
df.est_civil.replace({1:"solteiro", 2:"casado", 3: "separado",  4: "viúvo"}, inplace = True)
df.nom_social.replace({1:"sim", 0:"não"}, inplace = True)
df.tip_esc.replace({2:"pública", 3:"privada", 4: "exterior"}, inplace = True)
df

In [ ]:
# Transformando mais variáveis
df.tem_net.replace({'A':0, 'B':1}, inplace = True)
df.tem_pc.replace({'A':0, 'B':1, 'C':1, 'D':1, 'E':1}, inplace = True)
df.tem_cel.replace({'A':0, 'B':1, 'C':1, 'D':1, 'E':1}, inplace = True)
df.tem_tv.replace({'A':0, 'B':1, 'C':1, 'D':1, 'E':1}, inplace = True)
df.tem_geladeira.replace({'A':0, 'B':1, 'C':1, 'D':1, 'E':1}, inplace = True)
df.tem_quartos.replace({'A':0, 'B':1, 'C':1, 'D':1, 'E':1}, inplace = True)
df.tem_wc.replace({'A':0, 'B':1, 'C':1, 'D':1, 'E':1}, inplace = True)
df

In [ ]:
df.tem_net.replace({0: "não", 1: "sim"}, inplace = True)
df.tem_pc.replace({0: "não", 1: "sim"}, inplace = True)
df.tem_cel.replace({0: "não", 1: "sim"}, inplace = True)
df.tem_tv.replace({0: "não", 1: "sim"}, inplace = True)
df.tem_geladeira.replace({0: "não", 1: "sim"}, inplace = True)
df.tem_quartos.replace({0: "não", 1: "sim"}, inplace = True)
df.tem_wc.replace({0: "não", 1: "sim"}, inplace = True)
df

In [ ]:
df.isna().sum()

In [ ]:
# Dropando valores NAs (linhas)
df.dropna(axis = 0, inplace = True)
df

In [ ]:
df.isna().sum()

In [ ]:
df.reset_index(inplace = True)
df

In [ ]:
df.drop(['index'], axis = 1, inplace = True)
df

In [ ]:
# Agora, salvando os dados:
# Salvando em csv
# df.to_csv('D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\df_trabalhando_II.csv', sep=';', index=False)

# PARTE III

Análises.

In [ ]:
# df = pd.read_csv("D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\df_trabalhando_II.csv", encoding='utf-8', sep=";")
# df

In [ ]:
df.isna().sum()

In [ ]:
df.info()

In [ ]:
# Quantidade de pessoas do sexo masculino e feminino que tiveram nota final do Enem 2019

# Pessoas do sexo feminino são maioria, representando quase 56%;
# Enquanto indivíduos do sexo masculino representam pouco mais de 44%.

In [ ]:
df.sexo.value_counts()

In [ ]:
fem = (295808 / (295808 + 235827)) * 100
fem

In [ ]:
masc = (235827 / (295808 + 235827)) * 100
masc

In [ ]:
# Média de idade

# Média de idades das pessoas que fizeram Enem em 2019 é de 17,69 anos.

In [ ]:
df.idade.mean()

In [ ]:
# Média de idade por sexo:

# Idades médias muito próximas (meninos (17,72) e meninas (17,67)).

In [ ]:
df.groupby(['sexo']).idade.mean()

In [ ]:
# Média de idade por sexo, cor e tipo de escola:

# Tanto pessoas do sexo feminino, quanto masculino, 
# percebe-se que entre os índigenas e pessoas pretas possuem 
# média de idade maior.
# Isso pode indicar algum tipo de dificuldade de acesso a educação e 
# melhores qualidades de vida por # parte dessas pessoas e, talvez, 
# até algum tipo de discriminação (podendo ser vividas por ele ou por seus ascendentes).

In [ ]:
df.groupby(['sexo', "cor", "tip_esc"]).idade.mean()

In [ ]:
# Nota final do Enem 2019 por sexo e tipo de escola:

# Em relação a média, percebe-se que as médias dos alunos de escolas privadas
# são maiores quando comparados com alunos de escolas públicas.
# Isso pode indicar problemas na educação.

# Quando olhamos para a menor nota dos alunos, novamente
# os discentes da escola particular possuem notas maiores.
# Novamente, pode indicar problemas na educação.

# Ao olhar a maior nota, mais uma vez, os alunos de escola particular
# apresentaram notas maiores quando comparados com os alunos da escola pública.
# Vale ressaltar que, entre os meninos, essa diferença foi bem menor, quando 
# comparado com as meninas.

# Já o desvio padrão evidencia que existe uma maior variabilidade das notas
# dos alunos da escola pública (ao se comparar com discentes de escolas particulares).

In [ ]:
df.groupby(['sexo', "tip_esc"])['nota_final'].mean()

In [ ]:
df.groupby(['sexo', "tip_esc"])['nota_final'].min()

In [ ]:
df.groupby(['sexo', "tip_esc"])['nota_final'].max()

In [ ]:
df.groupby(['sexo', "tip_esc"])['nota_final'].std()

In [ ]:
# Nota final do Enem 2019 por sexo, cor e tipo de escola:

# Mais uma vez, os indígenas e pessoas da cor preta possuem as menores notas.
# Indivíduos de escolas particulares evidenciam as maiores notas.

In [ ]:
df.groupby(['sexo', 'cor', "tip_esc"])['nota_final'].mean()

In [ ]:
# Média da nota final por classe:

# Pessoas de classes mais altas, apresentaram as maiores médias.
# Isso pode evidenciar melhores condições de acesso a n fatores.

In [ ]:
df.groupby(["renda_men"])['nota_final'].mean()

In [ ]:
# Média da nota final por classe e sexo:

# Mais uma vez, rendas maiores permitem acesso a educação de melhor qualidade.
# As notas dos meninos e das meninas, para cada faixa de renda, são bem parecidas.

In [ ]:
df.groupby(["renda_men", "sexo"])['nota_final'].mean()

In [ ]:
# Desagregando por notas
# Nota média por prova do Enem 2019 por sexo e tipo de escola:

# Mais uma vez, verificou-se que as notas dos alunos de escolas privadas são maiores
# que a dos alunos de escola públicas.
# Isso corrobora com as análises anteriores.

In [ ]:
df.groupby(['sexo', "tip_esc"])['nota_red', "nota_cien_nat", "nota_cien_hum", "nota_ling", "nota_mat"].mean()

In [ ]:
# Considerando acesso a lazer, saneamento, local adequado para dormir e acesso a geladeira,
# na nota média final do Enem 2019.

# Percebeu-se que quem possui acesso a esses itens, apresenta um desempenho melhor na nota.
# Isso pode ser explicado pelo fato de uma melhor qualidade de vida, além de contribuir 
# para o capital humano.

In [ ]:
df.groupby(["tem_wc"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_quartos"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_geladeira"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_tv"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_cel"])['nota_final'].mean()

In [ ]:
df.groupby([ "tem_pc"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_net"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_pc", "tem_net"])['nota_final'].mean()

In [ ]:
df.groupby(["tem_cel", "tem_net"])['nota_final'].mean()

In [ ]:
# Ocupação dos pais e a nota final

# Comparando a ocupação dos pais, levando em consideração o seu nível educacional,
# é possível verificar que, quanto maior a escolaridade da mãe, maior tende a ser
# o desempenho dos filhos na nota do Enem.
# Isso pode ser explicado pelo fato das mães incentivarem mais os filhos no campo
# educacional.
# Além disso, utilizar a escolaridade da mãe como proxy para a escolaridade dos
# filhos, é uma prática muito utilizada nas pesquisas científicas.

In [ ]:
df.groupby(["ocup_pai"])['nota_final'].mean()

In [ ]:
df.groupby(["ocup_mae"])['nota_final'].mean()

In [ ]:
# Nome social e nota do final

# Uma pessoa que adota o nome social, a chance dela ter sofrido algum tipo de 
# bullying na escola deve ter sido grande.
# Dessa forma, quando a pessoa adota o nome social, a mesma tende a se sentir melhor,
# um sentimento de pertencimento, pois agora ela começa a ser vista como ela desejou ser.
# Psicologicamente, a adoção desse nome social, permite uma espécie de ânimo
# para a pessoa e, por isso, ela tende a fazer uma prova melhor.
# O mesmo ocorre quando desagregamos a nota final por tipo de prova.

In [ ]:
df.groupby(["nom_social"])['nota_final'].mean()

In [ ]:
df.groupby(["nom_social"])['nota_red', "nota_cien_nat", "nota_cien_hum", "nota_ling", "nota_mat"].mean()

In [ ]:
# Quem possui maior renda, tende a apresentar notas maiores,
# especialmente quando estudam em colégios privados.
# Além disso, pessoas que possuem rendas maiores e que estudam 
# em colégios públicos, também possuem um desempenho melhor,
# quando comparados com demais alunos de colégios públicos.
# Um dos motivos que podem explicar esse fato, é que pessoas
# com maiores poderes aquisitivos possuem melhores condições e, tendem
# a possuir famílias mais estruturadas.

In [ ]:
df.groupby(["tip_esc", "renda_men"])['nota_final'].mean()

In [ ]:
# Nota final na prova por região brasileira

# A região Sudeste apresenta a maior nota final, seguida pela região Sul.
# Isso pode evidenciar disparidades na educação entre as regiões brasileiras.
# Além disso, dependendo da localidade, o acesso a educação
# tende a ser mais difícil, principalmente na região norte,
# que apresentou a menor nota.

In [ ]:
df.groupby(["regiao_br"])['nota_final'].mean()

In [ ]:
# Quando analisamos as notas por região e tipo de escola, 
# é possível verificar que, novamente, as notas de alunos
# de escola pública tendem a ser menores quando comparados com colégios particulares.
# Porém, agora, a nota da região centro-oeste torna-se maior, seguidos
# pelas regiões sul e sudeste - notas muito próximas.

In [ ]:
df.groupby(["regiao_br", "tip_esc"])['nota_final'].mean()

In [ ]:
# Língua estrangeira escolhida:

In [ ]:
df[["idioma" ]].value_counts()

In [ ]:
# Temos uma maior quantidade de pessoas realizando a prova de inglês,
# quando comparado com o espanhol.

In [ ]:
# Candidatos das classes C, D e E são maioria analisando o todo. Entre escolas públicas e privadas,
# notamos que as mesmas classes de escolas públicas são maioria em relação às escolas privadas.

In [ ]:
df[["sexo", "tip_esc", "renda_men" ]].value_counts()

In [ ]:
# Como esperado, temos mais pessoas solteiras fazendo a prova.
# Isso ainda é corroborado pela idade média.

In [ ]:
df[["est_civil" ]].value_counts()

In [ ]:
# Quantidade de candidatos vindos de escolas públicas vs escolas privadas

In [ ]:
df[["tip_esc" ]].value_counts()

In [ ]:
# Quantidade de alunos em escolas públicas, separados por sexo:

# Como esperado, temos mais pessoas de escolas públicas, tanto do sexo masculino
# quanto do sexo feminino.

In [ ]:
df.groupby(['sexo'])['tip_esc'].value_counts()

In [ ]:
# Também esperado, existem mais pessoas de classe mais baixa, quando comparado com classes 
# mais altas.

In [ ]:
df.groupby(['sexo'])['renda_men'].value_counts()

In [ ]:
# Em porcentagem:

In [ ]:
pes_e = ((93761 + 137568 ) / 531635) * 100
pes_d = ((62561 + 75585 ) / 531635) * 100
pes_c = ((53607 + 57628 ) / 531635) * 100
pes_b = ((18038 + 18035 ) / 531635) * 100
pes_a = ((7860 + 6992 ) / 531635) * 100
print(pes_e, pes_d, pes_c, pes_b, pes_a)

43.5127484082124 + 25.98512137086535 + 20.923189782463535 + 6.785294421924817 + 2.7936460165339003

In [ ]:
# Em termos percentuais, temos mais indivíduos da classe A em colégios privados
# quanto comparados em escola pública.

In [ ]:
df.groupby(['tip_esc'])['renda_men'].value_counts()